<p>
<% @tasks.each do |task|%>
  <%= link_to task do %>
    <%= task.title %>
    <%= link_to "編集", edit_task_path(task) %>
    <%= link_to "削除", task, method: :delete%>
  <% end %>
<% end %>
</p>

<%= link_to "新規作成", new_task_path %>
